

#body {
	width: 960px;
	background-image: url(../Basic_Portfolio/assets/images/topography.png);
	background-attachment: fixed;
}


#nav {
	width: 940px;
	height: 65px;
	background-color: #ffffff;
	border-color: #cccccc;
	float: left;
	z-index: 1;
	color: #999999;
	text-align: right;
	padding-top:30px;
	padding-right: 25px;
	font-family: arial;
	font-size: 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
}

#header {
	padding-top: 25px;
	padding-left: 25px;
	width: 275px;
	height: 70px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 35px;
	position: absolute;
	top: 10px;
	z-index:2;
	margin-left: 75px;
	clear: both;
}

#h2 {
	color: #4aaaa5; 
	font-family: Times; 
	font-size: 35px;
	line-height: 10px;
}

#profileimage {
	height:150px; 
	width:150px; 
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

#aboutme {
	width: 500px;
	height: 300px;
	background-color: #ffffff;
	float: left;
	margin-left: 75px;
	font-family: arial;
	margin-top: 50px;
	padding: 20px;
	border-width: 1px;
	border-color: #dddddd;
	border-style: solid;
	color: #999999;
	display: inline-block;
	clear: both;

}

#portfolio {
	width: 560px;
	height: 720px;
	background-color: #ffffff;
	float: left;
	margin-left: 75px;
	font-family: arial;
	margin-top: 50px;
	padding: 20px;
	border-width: 1px;
	border-color: #dddddd;
	border-style: solid;
	color: #999999;
	display: inline-block;
}

#contact {
	width: 560px;
	height: 720px;
	background-color: #ffffff;
	float: left;
	margin-left: 75px;
	margin-top: 50px;
	padding: 20px;
	border-width: 1px;
	border-color: #dddddd;
	border-style: solid;
	color: #999999;
	display: inline-block;
	font-family: arial;

}

#container {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    }

.portpics {
	margin: 15px;
	float:left;
	position: relative;
	z-index:1;
}

.h3 {
	position: absolute;
	float: left;
	height:35px;
	width: 250px;
	background-color: #4aaaa5;
	top: 100px;
	left: 0px;
	text-align: center;
	padding-top: 10px;
	color: #ffffff;
	z-index:5;
	font-family: Times;
	font-size: 20px;
}

#connect {
	width: 225px;
	height: 150px;
	margin-top: 50px;
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
	border-width: 1px;
	border-color: #dddddd;
	border-style: solid;
	float: right;color: #4aaaa5; 
	font-family: Times; 
	font-size: 25px;
}

.social {
	padding-top: 15px;
	height: 60px;
	width: 60px;
	float; left;
}

#footer {
	width: 960px;
	height: 45px;
	padding-top: 20px;
	background-color: #666666;
	text-align: center;
	color: #e0dede;
	font-size: 10px;
	float: left;
	margin-top: 50px;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #4aaaa5;
}



